@charset "UTF-8";
@font-face {
    font-family: 'xeno';
    src: url(XenopyreRegular-qd8V.ttf); }
@font-face {
    font-family: ancient;
    src: url(../fonts/AncientModernTales-a7Po.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imagens/alexandria-huntington-runner-small.jpg);
    background-color: black;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
#titulo{
        padding-bottom: 30px;
        font-family: ancient;
        font-weight: normal;
        font-size: 2em;
        color: rgba(201, 204, 245, 0.397);
        
}
    
header{
        text-align: center;
        background-image: linear-gradient(to bottom, #f54b3fc5,#2e4b594d) ; 
        padding-top: 10px;
        padding-bottom: 25px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
        margin-bottom: 20px;
}

header a{
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 20px;
    
}
nav a:hover{
    background-color: #8885e04d;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
}
.Calendario{
    font-family: xeno;
    background-image: linear-gradient(to bottom, rgba(8, 56, 24, 0.973), #bf8a7a);
    height: 100vh;
    max-width: 1000px;
    min-width: 325px;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.685);
}

.Calendario h1{
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right, #9e3d314f, #5f8f94ea);
}
.Calendario p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-top: 50px;
}
img{
    width: 50%;
    display: block;
    margin: auto;
}
.resposta{
    text-align: center;
   
}

a{
    text-decoration: none;
    color: white;
}

.resposta a{

    font-size: 1.4em;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    border-radius: 3px;
    padding-right: 15px;
    padding-left: 50px;
}
.resposta a:hover {
color: #8885e04d;
padding-right: 15px;
padding-left: 15px;
}
footer{
    text-align: center;
    margin-top: 0px;
    background-color: #27243fa6;
    width: 100%;
}
footer a{
    color: yellow;
}
footer a:hover{
    color: rgb(92, 92, 255);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.185);
}