@charset "UTF-8";
@font-face {
    font-family: 'xeno';
    src: url(XenopyreRegular-qd8V.ttf); }
@font-face {
    font-family: ancient;
    src: url(../fonts/AncientModernTales-a7Po.ttf);
}




*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imagens/380957.webp);
    background-color: black;
    color: white;
    background-size: cover;
}
#titulo{
        padding-bottom: 30px;
        font-family: ancient;
        font-weight: normal;
        font-size: 2em;
        color: rgba(201, 204, 245, 0.397);
        
}
    
header{
        text-align: center;
        background-image: linear-gradient(to bottom, #352ef2c5,#342e594d) ; 
        padding-top: 10px;
        padding-bottom: 30px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
}

header a{
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 20px;
    
}
nav a:hover{
    background-color: #8885e04d;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
}
.evento{
    font-family: xeno;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.973), #2435d4f5);
    height: 98vh;
    max-width: 1000px;
    min-height: 320px;
    margin: auto;
    border-radius: 5px;
}

.evento h1{
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right, #2e31594f, #4551bf3a);
}
.evento p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-top: 50px;
}
img{
    width: 50%;
    display: block;
    margin: auto;
}
.resposta{
    text-align: center;
   
}

a{
    text-decoration: none;
    color: white;
}

.resposta a{

    font-size: 1.4em;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    border-radius: 3px;
    padding-right: 15px;
    padding-left: 50px;

}
.resposta a:hover {
color: #8885e04d;
padding-right: 15px;
padding-left: 15px;
}