@charset "UTF-8";
@font-face {
    font-family: 'xeno';
    src: url(XenopyreRegular-qd8V.ttf); }
@font-face {
    font-family: ancient;
    src: url(../fonts/AncientModernTales-a7Po.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imagens/bak.jpg);
    height: 100%;
    background-color: black;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

 
}
header{
    text-align: center;
    background-image: linear-gradient(to bottom, #a7a046c5,#342e594d) ; 
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
}

header a{
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    border-radius: 3px;
    padding-right: 15px;
    padding-left: 15px;
    
}
nav a:hover {
    background-color: #8885e04d;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
}

a{
    text-decoration: none;
    color: white;
}
main{
    color: rgb(22, 22, 22);
    background-image: linear-gradient(to right, #6d6028c5, #5b4fb84d) ;
    height: 1000px;
    max-width: 1024px;
    min-width: 320px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.767);
    height: 100%;
    padding-bottom: 20px;
    line-height: 27px;
    margin-bottom: 20px;
}
main h1{
    margin-top: 20px;
    background-image: linear-gradient(to right, #09179136, #bf9e45d3);;
    padding: 5px;
    font-size: 1.8em;
}
main p{
    
    padding: 10px;
    font-size: 1.1em;
}
#titulo{
    padding-bottom: 30px;
    font-family: ancient;
    font-weight: normal;
    font-size: 2em;
    color: rgba(201, 204, 245, 0.397);
    
}
.historia h1{
    text-align: center;
    font-family: ancient;
}
.historia{
    font-size: 1.2em;
}
.historia p{
    margin-top: 20px;
}
footer{
    text-align: center;
    background-color: #27243fa6;
    width: 100%;
    margin-top: 0px;
}
footer a{
    color: yellow;
}
footer a:hover{
    color: rgb(92, 92, 255);
}
img{
    max-width: 700px;
    display: block;
    margin: auto;
}

.reino{
    background-size: cover;
    padding: 30px;
    text-align: center;
    color: white;
    border: solid rgba(0, 0, 0, 0.411) 2px;
    background-image: url(../imagens/eli\ be.jpg);
    background-position: right bottom;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.836); 
    margin-bottom: 60px;
}
.box-reino{
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.781);
}
.padrao{
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 950px;
    margin: auto;
    box-shadow: 1px 1px 10px black;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.144);
}
.deuses{ 
    padding: 30px;
    text-align: center;
    color: white;
    border: solid rgba(0, 0, 0, 0.411) 2px;
    background-image: url(../imagens/deuses\ 2.jpg);
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.836);
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.801);
    margin-top: 60px;
}
.box-deuses{
    margin: 20px;
    margin-bottom: 30px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.911);
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
}
.univ{
    padding: 30px;
    text-align: center;
    color: white;
    border: solid rgba(0, 0, 0, 0.411) 2px;
    background-image: url(../imagens/unive.jpg);
    background-position: right bottom;
    background-attachment: fixed;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.836);
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.801);
    font-size: 1.2em;
}
.burac{
    padding: 30px;
    text-align: center;
    color: white;
    border: solid rgba(0, 0, 0, 0.411) 2px;
    background-image: url(../imagens/burac.jpg);
    background-position: center;
    background-attachment: fixed;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.836);
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.801);
    font-size: 1.2em;
    margin-bottom: 20px;
    
}
.salao{
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    border: solid rgba(0, 0, 0, 0.411) 2px;
    background-image: url(../imagens/salao.jpg);
    background-position: center top;
    background-attachment: fixed;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.836);
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.801);
    font-size: 1.2em;

}
#salaop{
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 3px;
}

#ultima{
    padding-bottom: 150px;
}
.voltar{
    width: 50px;
    display: inline-block;
}
