@charset "UTF-8";
@font-face {
    font-family: 'xeno';
    src: url(XenopyreRegular-qd8V.ttf); }
@font-face {
    font-family: ancient;
    src: url(../fonts/AncientModernTales-a7Po.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    background-image: url(../imagens/preview_shattered_heaven_gamerview_img00.jpg);
    background-color: black;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;

}
main{
    background-color: #342e5921;
    max-width: 1024px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

#titulo{
    padding-bottom: 30px;
    font-family: ancient;
    font-weight: normal;
    font-size: 2em;
    color: rgba(201, 204, 245, 0.397);
    
    
}

header{
    text-align: center;
    background-image: linear-gradient(to bottom, #352ef2c5,#342e594d) ; 
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
    margin-bottom: 20px;
}

header a{
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    border-radius: 3px;
    padding-right: 15px;
    padding-left: 15px;

    
}
nav a:hover {
    background-color: #8885e04d;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
}

.evento{
    min-width: 320px;
    box-shadow: 0px 0px 20px rgba(55, 203, 248, 0.233);
    height: 1000px;
    background-color: #363157b4;;
}
.evento h1{
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right, #342e59d8, #5f45bfd3);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.61);
}  
.evento p{
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}
.evento a:hover{
    color: rgba(255, 255, 0, 0.685);
}
img{
    margin-top: 70px;
    margin-left: 40%;
    width: 200px;
    
}


a{
    text-decoration: none;
    color: white;
}
footer{
    text-align: center;
    margin-top: 0px;
    background-color: #27243fa6;
    width: 100%;
}
footer a{
    color: yellow;
}
footer a:hover{
    color: rgb(92, 92, 255);
}